<div class="flex w-[100%] justify-center mt-[50px]">
    <form action="/searchJobs" method = "post" class="flex">

        <input
        type="text"
        placeholder="Job Title"
        name = "role"
        class="input input-bordered w-full max-w-xs mx-2" />
        <input
        type="text"
        placeholder="Country"
        name="location"
        class="input input-bordered w-full max-w-xs mx-2" />
        <select name='gender' class="select select-bordered w-full max-w-xs mx-2">
            <option disabled selected value = "">Gender</option>
            <option value="Male"> Male</option>
            <option value="Female">Female</option>
        </select>
        
        <button type="submit" class="btn btn-outline mx-2">Find Jobs</button>
    </form>
</div>
<div class="overflow-x-auto mx-20">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th>Role</th>
                <th>Gender</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- row 1 -->
            <% jobs.forEach(data=>{ %>
            <tr>
                <td>
                    <div class="flex items-center gap-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <img src="<%= data.image %>" />
                            </div>
                        </div>
                        <div>
                            <div class="font-bold"><%=data.role%></div>
                            <div class="text-sm opacity-50">
                                <%=data.location%>
                            </div>
                        </div>
                    </div>
                </td>
                <td><%=data.gender%></td>
                <td><%=data.desc%></td>
                <%if (login){%>
                <td>
                    <button
                        class="btn"
                        id="<%= data.id %>"
                        onclick="liked('<%= data.id %>')">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                    </button>
                </td>
                <% } %>
            </tr>
            <%})%>
        </tbody>
    </table>
</div>
